/* CSS DOCUMENT */
.topnav{
    color: blue;
    font-size:40px}
    font-style:italic;
            }
.ann{
    color: blue;
    font-size:30px;
    }
    .ft{
        color: red;
        text-align: center;
    }